.main-nav {
  height: 80px;
  max-width: 203px;
  // background-color: blue;
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    // width: 1440px;
    height: 90px;
    margin: 0 auto;

  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: @white;

}

@media (min-width: @desktop-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1159px;
  }
}


.main-nav__list a {
  color: @white;
}
